.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 20px;
}

.header-signIn {
  border-radius: 10px;
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.header-signIn:hover {
  color: orange;
}

.logo > img {
  width: 120px;
  margin-top: 4.6px;
  margin-left: 10px;
  border-radius: 15px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
  margin-right: 30px;
  margin-top: 35px;
  padding: 0;
}

.nav-items > ul > li {
  padding: 5px;
  margin: 10px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-container-Link {
  color: inherit;
}

.filter {
  display: flex;
  margin: 10px;
}

.res-img {
  margin: 10px;
  margin-bottom: -10px;
  margin-left: 9.5px;
  width: 230px;
  height: 160px;
  border: 1px solid black;
  border-radius: 10px;
}

.res-card {
  width: 250px;
  height: auto;
  border-radius: 20px;
  background-color: #f0f0f0;
  margin: 5px;
}

.res-card:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 10px;
  transition: 0.8s;
  cursor: pointer;
}

.res-card > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.res-card > ul > li {
  padding: 5px;
  margin-left: -38px;
}

.cuisine-add > ul {
  list-style-type: none;
  margin-left: -15px;
  font-size: 12px;
  margin-top: -25px;
}

.resRating {
  font-weight: bold;
  font-size: 15px;
  margin-left: -25px;
}

.del-time {
  margin-left: 8px;
}

.res-card > button {
  padding: 10px;
  margin-left: 12.5px;
  margin-top: 15px;
  width: 90%;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
}
.res-card > button:hover {
  background-color: yellow;
  transition: 0.8s;
  color: red;
  cursor: pointer;
}

.filter-btn {
  cursor: pointer;
  margin-left: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer-cards {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  background-color: lightgray;
  margin: 5px;
}

.res-info {
  justify-content: space-between;
  padding-right: 350px;
  padding-left: 350px;
  margin-top: 50px;
}

.res-menu-header {
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
}

h1 {
  font-size: 30px;
}

.box {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}

.box > li {
  padding: 2px;
}

.res-menu-header-list {
  list-style-type: none;
  font-size: small;
  color: rgb(141, 139, 139);
  font-weight: bold;
}

.res-menu-header-list-line {
  list-style-type: none;
  text-align: center;
  color: rgb(141, 139, 139);
}

.res-menu-header-list-1 {
  list-style-type: none;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: green;
}

.res-menu-cuisine-add {
  font-weight: lighter;
  font-size: 13px;
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 35px;
  color: rgb(141, 139, 139);
}

.res-menu-list-line {
  list-style-type: none;
  color: rgb(141, 139, 139);
  text-align: center;
}

.res-info-sub-header {
  display: flex;
  list-style-type: none;
}

.res-info-sub-header > li {
  margin-right: 10px;
}

.menu-title {
  font-weight: bolder;
  font-size: 25px;
}

.menu-card-des-price > li {
  list-style-type: none;
  font-weight: bold;
}

.menu-card-des-price > li > h5 {
  margin-top: 5px;
}

.menu-card-des-price > li > p {
  color: rgb(141, 139, 139);
  margin-left: 10px;
  margin-top: -15px;
  margin-bottom: 50px;
  font-weight: normal;
}

.body-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-card {
  display: flex;
  padding: 10px;
  height: 400px;
  width: 300px;
  border: 5px solid black;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.about-user-avatar {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 99px;
}

.about-user-info {
  text-align: center;
}

.contact-icons-container {
  display: flex;
  justify-content: center;
}

.contact-icons {
  font-size: 30px;
  padding: 10px;
}

.btn-mail-icon {
  border: none;
  background: none;
  cursor: pointer;
}

.about-icon-link {
  color: inherit;
}

.wifi-green {
  color: green;
  font-weight: bolder;
}

.wifi-red {
  color: red;
  font-weight: bolder;
}
